<?xml version="1.0" encoding="utf-8"?>
<launch>
	<node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
		<!-- node parameters -->
		<param name="serial_name" type="string" value="/dev/m100"/>
		<param name="baud_rate" type="int" value="230400"/>
		<param name="app_id" type="int" value="1075449"/>
		<param name="app_version" type="int" value="1"/>
		<param name="app_bundle_id" type="string" value="Not required in this SDK version"/>
		<param name="enc_key" type="string" value="7aa2924814bd5471cf1b29b978604805e265bd2befb7d38c35153d407f2aa4ff"/>
		<param name="groundstation_enable" type="int" value="1"/>
	</node>
</launch>
